:root{
    --vermelho: #E50914;
    --preto: #141414;
}


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: var(--preto);
    font-family: 'Netflix Sans', 'Helvetica Neue',Helvetica, Arial, sans-serif;
    color: white;
}


header .container{

    margin-top: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 100%;
    
}

header .logo{
    margin-left: 45px;
    margin-right: 50px;
    color: var(--vermelho);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
}

header nav a{
    
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
}

header nav a:hover{
    
    color: #AAA;
}

/*Filme principal*/
.principal  {
    
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.eu.me.importo.webp');
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.principal .descricao{
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: 7%;
    
}

.titulo{
    margin-top: 10%;
    font-size: 60px;
    margin-left: 7%;
    
}

.botao1{
    border-radius: 5px;
    margin-bottom: 100px;
    margin-top: 0px;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 30px;
    margin-left: 7%;
    margin-right: 5px;
    font-size: 20px;
    font: 550 18.3333px Arial;
    cursor: pointer;
    transition: .3s ease all;
}

.botao2{
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    border: none;
    color: white;
    padding: 8px 30px;
    font-size: 16px;
    border-color:  rgb(133, 133, 133);
    font: 550 18.3333px Arial;
    cursor: pointer;
    transition: .3s ease all;
}

.botao1:hover{
    background-color: rgba(255, 255, 255, 0.596);
    color: black;
}

.botao2:hover{
    background-color: rgba(124, 124, 124, 0.205);
    color: white;
}

.botao1  i{
    margin-right: 6px ;
}

.botao2  i{
    margin-right: 6px ;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    
}

